body{
	background-color: #142850;
	color: #dae1e7;
	font-size: 3rem;
}
.container{
	text-align: center;
	margin: auto 0 auto;
	background-color: #8da6b3;
}
.heading{
}
.reset-button{
	border: none;
	background-color: #00909e;
	width: 100px;
	height: 50px;
	color: #27496d;
	border-radius: 10%;
	outline: none;
}
.reset-button:hover{
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	background-color: black;
	color: white;
}
